.cvButton{
    width: 200px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: bolder;
    color: #FFFFFF;
    text-align: right;
    padding: 1% 1.5% 1% 1%;
    background-color: #212121;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 3px #FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
}
