.projectContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
  }

.projectContainer h1 {
    font-size: var(--font-size-header);
    font-weight: bolder;
    background: var(--background-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
}

.projects{
    display: grid;
    grid-template-areas: "GitHub" 
    "cards";
    grid-template-columns: 5fr;
    grid-template-rows: auto 2fr;
    gap: 20px;
    padding: 20px;
}

.GitHub{
    grid-area: GitHub;
    justify-self: end;
}

.projectCards{
    grid-area: cards;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
    cursor: grab;
}