/* Global styles */
@import url('./variable.css');

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: var(--font-primary);
    scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
  