/* Colors, fonts, and reusable styles */
:root {
    --text-color: #FFFFFF;
    --background-text-color: linear-gradient(90deg, #ffffff, #686A69);
    --background-color: #000000;


    /* Typography */
    --font-primary: 'Kameron', serif;
    --font-size-base: 18px;
    --font-size-portfolio: 30px;
    --font-size-header: 80px;
    --font-size-subheader: 40px;
    --font-size-header3: 27px;

    /* Border radius */
    --border-radius-sm: 10px;
    --border-radius-md: 20px;


    /* Box shadow */
}

